.nav-item li.active{
    background: linear-gradient(90deg, #b5e4b6, transparent);
}
.nav-item.active{
    background: linear-gradient(90deg, #b5e4b6, transparent);
}
.text-18{
    font-size: 18px;
}
.text-24{
    font-size: 24px;
}
.text-default{
    color:#787c79;
}
.t-bold{
    font-weight: bold;
}
.border-bottom-1{
    border-bottom: 1px solid #e3e3e3;
}
.min-h-100{
    min-height: 100%;
}
.min-vh-65{
    min-height:65vh;
}
.min-vh-80{
    min-height:80vh;
}
.bg-gray{
    background-color:#f4f4f4;
}
.text-18{
    font-size: 18px;
}
.text-24{
    font-size: 24px;
}
.text-36{
    font-size: 36px;
}

.dropdown-toggle:after, .dropend .dropdown-toggle:after {
    border: 1px solid;
    border-left: 0;
    border-top: 0;
    height: .42em;
    width: .42em;
}
.dropdown-toggle:after {
    margin-top: -.28em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dropdown-toggle:after {
    content: "";
    display: inline-block;
    margin-left: .5em;
    vertical-align: middle;
}